@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
}

/*SVG globe first page*/
.globe {
  border: 4px solid #8bc34a;
  border-radius: 50%;
  height: 280px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}
.globe svg {
  -webkit-animation: rotation 8s linear 0s infinite;
  animation: rotation 8s linear 0s infinite;
}
.globe svg path {
  stroke: #8bc34a;
}

@-webkit-keyframes rotation {
  from {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}

@keyframes rotation {
  from {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}
/*COVER FIRST PAGE*/
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #333;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  color: #8bc34a;
  font-size: 48px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
.masthead-slogan {
  color: #8bc34a;
  font-size: 24px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: right;
  }
  .masthead-nav {
    float: left;
  }
}

/*
 * Affix and center cover
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
